__pycache__/
.vscode
*.engine
*.engine.config
*.cache
*.nsys-rep
.VSCodeCounter
build*/
cmake-build*/
*.so
*.egg-info/
.coverage
*.csv
*.onnx
tmp/
venv/
.venv/
.local/
.hypothesis/
.idea/
cpp/cmake-build-*
cpp/.ccache/
cuda_practice/libs
cuda_practice/bindings.pyi
cuda_practice/bindings/*.pyi

# Testing
.coverage.*
results_trt/
